In [143]:
import pandas as pd
import datetime as dt

# Review of Python's datetime Module

In [144]:
someday = dt.date(2017, 8, 11)

In [145]:
someday.year
someday.month
someday.day

11

In [146]:
str(someday)

'2017-08-11'

In [147]:
str(dt.datetime(2017, 8, 11, 8, 13, 57, 989))

'2017-08-11 08:13:57.000989'

In [148]:
sometime = dt.datetime(2017, 8, 11, 8, 13, 57, 989)

In [149]:
sometime.year
sometime.second
sometime.microsecond

989

# The pandas Timestamp Object

In [150]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2015/03/31')
pd.Timestamp('2015, 11, 04')
pd.Timestamp('4/3/2000')
pd.Timestamp('2021-03-08 6:13:29 PM')

Timestamp('2021-03-08 18:13:29')

In [151]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [152]:
pd.Timestamp(dt.datetime(2015, 1, 1, 21,35, 22))

Timestamp('2015-01-01 21:35:22')

# The pandas DateTimeIndex Object

In [153]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
dates = ['2016/01/02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [154]:
dates = [dt.date(2016,1,2), dt.date(2016,4,12), dt.date(2009,9,7)]
dtIndex = pd.DatetimeIndex(dates)

In [155]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

# The pd.to_datetime() Method

In [156]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [157]:
times = ['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996']
times

['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996']

In [158]:
pd.to_datetime(times)

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [159]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [160]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [161]:
# unix time
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() Method, Part 1

In [162]:
times = pd.date_range(start='2016-01-01', end='2016-01-10', freq='D')
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [163]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [164]:
# freq='B' is business days
pd.date_range(start='2016-01-01', end='2016-01-10', freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [165]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [166]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [167]:
# M is month end
# MS is month start
pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [168]:
pd.date_range(start='2016-01-01', end='2020-12-31', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [169]:
pd.date_range(start='2012-09-09', periods=50, freq='B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [170]:
pd.date_range(start='2012-09-09', periods=50, freq='W-TUE')

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [171]:
pd.date_range(start='2012-09-09', periods=50, freq='MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [172]:
pd.date_range(start='2012-09-09', periods=50, freq='6H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

# Create Range of Dates with the pd.date_range() Method, Part 3

In [173]:
pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [174]:
pd.date_range(end='1999-12-31', periods=40, freq='B')

DatetimeIndex(['1999-11-08', '1999-11-09', '1999-11-10', '1999-11-11',
               '1999-11-12', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [175]:
pd.date_range(end='1999-12-31', periods=40, freq='W-SUN')

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [176]:
pd.date_range(end='1999-12-31', periods=40, freq='W-FRI')

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [177]:
pd.date_range(end='1999-12-31', periods=40, freq='M')

DatetimeIndex(['1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31',
               '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30',
               '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

# The .dt Accessor

In [178]:
dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')

In [179]:
s = pd.Series(dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [180]:
s.dt.day
s.dt.month
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [181]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [182]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# Import Financial Data with pandas_datareader Library

In [183]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [184]:
rate = 'DEXUSNZ'
start = '2010-01-01'
end = '2017-12-31'
source = 'fred'
xrates = data.DataReader(name=rate, data_source='fred', start=start, end=end)
xrates.head(3)

            DEXUSNZ
DATE
2010-01-01      NaN
2010-01-04   0.7327
2010-01-05   0.7357

In [185]:
xrates.values
xrates.columns
xrates.index[0]
xrates.axes

[DatetimeIndex(['2010-01-01', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21',
                '2017-12-22', '2017-12-25', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='DATE', length=2086, freq=None),
 Index(['DEXUSNZ'], dtype='object')]

# Selecting from a DataFrame with a DateTimeIndex

In [186]:
rate = 'DEXUSNZ'
start = '2010-01-01'
end = '2017-12-31'
source = 'fred'
xrates = data.DataReader(name=rate, data_source='fred', start=start, end=end)
xrates.head(3)

            DEXUSNZ
DATE
2010-01-01      NaN
2010-01-04   0.7327
2010-01-05   0.7357

In [187]:
xrates.loc['2014-03-04']
xrates.iloc[300]

DEXUSNZ    0.7514
Name: 2011-02-25 00:00:00, dtype: float64

In [188]:
xrates.loc['2013-10-01' : '2013-10-07']

            DEXUSNZ
DATE
2013-10-01   0.8272
2013-10-02   0.8270
2013-10-03   0.8291
2013-10-04   0.8327
2013-10-07   0.8330

In [189]:
birthdays = pd.date_range(start='1991-04-12', end='2017-12-31', freq= pd.DateOffset(years=1))

In [190]:
mask = xrates.index.isin(birthdays)

# Timestamp Object Attributes

In [191]:
rate = 'DEXUSNZ'
start = '2010-01-01'
end = '2017-12-31'
source = 'fred'
xrates = data.DataReader(name=rate, data_source='fred', start=start, end=end)
xrates.head(3)

            DEXUSNZ
DATE
2010-01-01      NaN
2010-01-04   0.7327
2010-01-05   0.7357

In [192]:
someday = xrates.index[500]
someday

Timestamp('2011-12-02 00:00:00')

In [193]:
someday.day
someday.month
someday.is_month_end

False

In [194]:
xrates.insert(0, 'Day of Week', xrates.index.weekday_name)

In [195]:
xrates.head(3)

           Day of Week  DEXUSNZ
DATE
2010-01-01      Friday      NaN
2010-01-04      Monday   0.7327
2010-01-05     Tuesday   0.7357

In [196]:
xrates.insert(1, 'Is Start of Month', xrates.index.is_month_start)

In [197]:
xrates[xrates['Is Start of Month']]

           Day of Week  Is Start of Month  DEXUSNZ
DATE
2010-01-01      Friday               True      NaN
2010-02-01      Monday               True   0.7066
2010-03-01      Monday               True   0.6991
2010-04-01    Thursday               True   0.7079
2010-06-01     Tuesday               True   0.6813
2010-07-01    Thursday               True   0.6867
2010-09-01   Wednesday               True   0.7128
2010-10-01      Friday               True   0.7423
2010-11-01      Monday               True   0.7676
2010-12-01   Wednesday               True   0.7497
2011-02-01     Tuesday               True   0.7800
2011-03-01     Tuesday               True   0.7508
2011-04-01      Friday               True   0.7668
2011-06-01   Wednesday               True   0.8224
2011-07-01      Friday               True   0.8273
2011-08-01      Monday               True   0.8743
2011-09-01    Thursday               True   0.8517
2011-11-01     Tuesday               True   0.7943
2011-12-01    Thursday               True   0.7779
2012-02-01   Wednesday               True   0.8321
2012-03-01    Thursday               True   0.8399
2012-05-01     Tuesday               True   0.8156
2012-06-01      Friday               True   0.7537
2012-08-01   Wednesday               True   0.8124
2012-10-01      Monday               True   0.8289
2012-11-01    Thursday               True   0.8264
2013-01-01     Tuesday               True      NaN
2013-02-01      Friday               True   0.8464
2013-03-01      Friday               True   0.8248
2013-04-01      Monday               True   0.8377
...                ...                ...      ...
2014-08-01      Friday               True   0.8510
2014-09-01      Monday               True      NaN
2014-10-01   Wednesday               True   0.7811
2014-12-01      Monday               True   0.7899
2015-01-01    Thursday               True      NaN
2015-04-01   Wednesday               True   0.7461
2015-05-01      Friday               True   0.7520
2015-06-01      Monday               True   0.7098
2015-07-01   Wednesday               True   0.6754
2015-09-01     Tuesday               True   0.6346
2015-10-01    Thursday               True   0.6411
2015-12-01     Tuesday               True   0.6679
2016-01-01      Friday               True      NaN
2016-02-01      Monday               True   0.6512
2016-03-01     Tuesday               True   0.6619
2016-04-01      Friday               True   0.6899
2016-06-01   Wednesday               True   0.6807
2016-07-01      Friday               True   0.7167
2016-08-01      Monday               True   0.7196
2016-09-01    Thursday               True   0.7282
2016-11-01     Tuesday               True   0.7176
2016-12-01    Thursday               True   0.7072
2017-02-01   Wednesday               True   0.7251
2017-03-01   Wednesday               True   0.7131
2017-05-01      Monday               True   0.6914
2017-06-01    Thursday               True   0.7064
2017-08-01     Tuesday               True   0.7474
2017-09-01      Friday               True   0.7167
2017-11-01   Wednesday               True   0.6896
2017-12-01      Friday               True   0.6892

[69 rows x 3 columns]

# The .truncate() Method

In [199]:
rate = 'DEXUSNZ'
start = '2010-01-01'
end = '2017-12-31'
source = 'fred'
xrates = data.DataReader(name=rate, data_source='fred', start=start, end=end)
xrates.to_csv('Codes/xrates.csv')
xrates.head(3)

            DEXUSNZ
DATE
2010-01-01      NaN
2010-01-04   0.7327
2010-01-05   0.7357

In [200]:
xrates.truncate(before='2011-02-05', after='2011-02-28')

            DEXUSNZ
DATE
2011-02-07   0.7706
2011-02-08   0.7775
2011-02-09   0.7712
2011-02-10   0.7678
2011-02-11   0.7592
2011-02-14   0.7568
2011-02-15   0.7517
2011-02-16   0.7526
2011-02-17   0.7596
2011-02-18   0.7634
2011-02-21      NaN
2011-02-22   0.7490
2011-02-23   0.7453
2011-02-24   0.7476
2011-02-25   0.7514
2011-02-28   0.7522

# pd.DateOffset Objects

In [202]:
rate = 'DEXUSNZ'
start = '2010-01-01'
end = '2017-12-31'
source = 'fred'
xrates = data.DataReader(name=rate, data_source='fred', start=start, end=dt.datetime.now())
xrates.to_csv('Codes/xrates.csv')
xrates.head(3)

            DEXUSNZ
DATE
2010-01-01      NaN
2010-01-04   0.7327
2010-01-05   0.7357

In [203]:
xrates.tail(3)

            DEXUSNZ
DATE
2018-03-21   0.7180
2018-03-22   0.7220
2018-03-23   0.7254

In [206]:
xrates.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-06', '2010-01-09', '2010-01-10', '2010-01-11',
               '2010-01-12', '2010-01-13', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-19',
               ...
               '2018-03-17', '2018-03-18', '2018-03-19', '2018-03-20',
               '2018-03-21', '2018-03-24', '2018-03-25', '2018-03-26',
               '2018-03-27', '2018-03-28'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq=None)

In [207]:
xrates.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2010-01-15', '2010-01-18', '2010-01-19', '2010-01-20',
               '2010-01-21', '2010-01-22', '2010-01-25', '2010-01-26',
               '2010-01-27', '2010-01-28',
               ...
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq='B')

In [208]:
xrates.index - pd.DateOffset(months = 3)

DatetimeIndex(['2009-10-01', '2009-10-04', '2009-10-05', '2009-10-06',
               '2009-10-07', '2009-10-08', '2009-10-11', '2009-10-12',
               '2009-10-13', '2009-10-14',
               ...
               '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-15',
               '2017-12-16', '2017-12-19', '2017-12-20', '2017-12-21',
               '2017-12-22', '2017-12-23'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq=None)

In [209]:
xrates.index + pd.DateOffset(years = 1)

DatetimeIndex(['2011-01-01', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-08', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2019-03-12', '2019-03-13', '2019-03-14', '2019-03-15',
               '2019-03-16', '2019-03-19', '2019-03-20', '2019-03-21',
               '2019-03-22', '2019-03-23'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq=None)

In [210]:
xrates.index + pd.DateOffset(hours = 6)

DatetimeIndex(['2010-01-01 06:00:00', '2010-01-04 06:00:00',
               '2010-01-05 06:00:00', '2010-01-06 06:00:00',
               '2010-01-07 06:00:00', '2010-01-08 06:00:00',
               '2010-01-11 06:00:00', '2010-01-12 06:00:00',
               '2010-01-13 06:00:00', '2010-01-14 06:00:00',
               ...
               '2018-03-12 06:00:00', '2018-03-13 06:00:00',
               '2018-03-14 06:00:00', '2018-03-15 06:00:00',
               '2018-03-16 06:00:00', '2018-03-19 06:00:00',
               '2018-03-20 06:00:00', '2018-03-21 06:00:00',
               '2018-03-22 06:00:00', '2018-03-23 06:00:00'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq='B')

In [212]:
xrates.index - pd.DateOffset(years=1, months = 3, days=12)

DatetimeIndex(['2008-09-19', '2008-09-22', '2008-09-23', '2008-09-24',
               '2008-09-25', '2008-09-26', '2008-09-29', '2008-09-30',
               '2008-10-01', '2008-10-02',
               ...
               '2016-11-30', '2016-12-01', '2016-12-02', '2016-12-03',
               '2016-12-04', '2016-12-07', '2016-12-08', '2016-12-09',
               '2016-12-10', '2016-12-11'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq=None)

# More Fun with pd.DateOffset Objects

In [224]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [220]:
xrates = pd.read_csv('Codes/xrates.csv', index_col=0, parse_dates=True)
xrates.head(3)

            DEXUSNZ
DATE
2010-01-01      NaN
2010-01-04   0.7327
2010-01-05   0.7357

In [228]:
xrates.index - MonthBegin()
xrates.index + BMonthEnd()
xrates.index + QuarterEnd()

/Users/wayneb/anaconda/lib/python3.5/site-packages/pandas/core/indexes/datetimes.py:840: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31',
               ...
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq=None)

In [229]:
xrates.index + YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='DATE', length=2146, freq=None)

# The Timedelta Object

In [230]:
timeA = pd.Timestamp('2016-03-31')
timeB = pd.Timestamp('2016-03-20')

In [231]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [232]:
pd.Timedelta(days=3, minutes=45, hours=12, weeks=8)

Timedelta('59 days 12:45:00')

In [233]:
pd.Timedelta(days=365)

Timedelta('365 days 00:00:00')

In [234]:
pd.Timedelta('14 days 12 hours 10 minutes 8 seconds')

Timedelta('14 days 12:10:08')

# Timedeltas in a Dataset

In [240]:
shipping = pd.read_csv('Codes/ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [242]:
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [244]:
shipping['Twice as Long'] = shipping['delivery_date'] + shipping['Delivery Time']
shipping.head(3)

   order_date delivery_date Delivery Time Twice as Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [246]:
mask = shipping['Delivery Time'] > '3000 days'
shipping[mask]

    order_date delivery_date Delivery Time Twice as Long
ID
32  1990-01-20    1998-07-24     3107 days    2007-01-25
130 1990-04-02    1999-08-16     3423 days    2008-12-29
151 1991-01-29    1999-08-05     3110 days    2008-02-09
229 1990-04-13    1998-11-17     3140 days    2007-06-23
314 1990-03-07    1999-12-25     3580 days    2009-10-13
331 1990-09-18    1999-12-19     3379 days    2009-03-20
348 1990-02-27    1999-01-04     3233 days    2007-11-11
392 1990-12-24    1999-12-04     3267 days    2008-11-13
590 1990-03-25    1998-12-20     3192 days    2007-09-16
634 1991-04-04    1999-07-21     3030 days    2007-11-06
674 1990-03-16    1998-12-28     3209 days    2007-10-11
760 1990-09-16    1998-12-06     3003 days    2007-02-25
764 1990-09-19    1999-09-16     3284 days    2008-09-12
786 1990-10-26    1999-05-10     3118 days    2007-11-22
884 1990-01-20    1999-11-12     3583 days    2009-09-03
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
943 1991-01-30    1999-12-02     3228 days    2008-10-03

In [248]:
shipping['Delivery Time'].min()

Timedelta('8 days 00:00:00')