In [1]:
import pandas as pd
import datetime as dt

# Review of Python's datetime Module

In [5]:
someday = dt.date(2017, 8, 11)

In [6]:
someday.year
someday.month
someday.day

11

In [12]:
str(someday)

'2017-08-11'

In [11]:
str(dt.datetime(2017, 8, 11, 8, 13, 57, 989))

'2017-08-11 08:13:57.000989'

In [13]:
sometime = dt.datetime(2017, 8, 11, 8, 13, 57, 989)

In [15]:
sometime.year
sometime.second
sometime.microsecond

989

# The pandas Timestamp Object

In [21]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2015/03/31')
pd.Timestamp('2015, 11, 04')
pd.Timestamp('4/3/2000')
pd.Timestamp('2021-03-08 6:13:29 PM')

Timestamp('2021-03-08 18:13:29')

In [23]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [26]:
pd.Timestamp(dt.datetime(2015, 1, 1, 21,35, 22))

Timestamp('2015-01-01 21:35:22')

# The pandas DateTimeIndex Object

In [28]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
dates = ['2016/01/02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [32]:
dates = [dt.date(2016,1,2), dt.date(2016,4,12), dt.date(2009,9,7)]
dtIndex = pd.DatetimeIndex(dates)

In [33]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

# The pd.to_datetime() Method

In [37]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [38]:
times = ['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996']
times

['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996']

In [39]:
pd.to_datetime(times)

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [41]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [43]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [46]:
# unix time
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() Method, Part 1

In [61]:
times = pd.date_range(start='2016-01-01', end='2016-01-10', freq='D')
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [62]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [63]:
# freq='B' is business days
pd.date_range(start='2016-01-01', end='2016-01-10', freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [64]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [65]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [66]:
# M is month end
# MS is month start
pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [67]:
pd.date_range(start='2016-01-01', end='2020-12-31', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [70]:
pd.date_range(start='2012-09-09', periods=50, freq='B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [72]:
pd.date_range(start='2012-09-09', periods=50, freq='W-TUE')

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [73]:
pd.date_range(start='2012-09-09', periods=50, freq='MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [74]:
pd.date_range(start='2012-09-09', periods=50, freq='6H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

# Create Range of Dates with the pd.date_range() Method, Part 3

In [75]:
pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range(end='1999-12-31', periods=40, freq='B')

DatetimeIndex(['1999-11-08', '1999-11-09', '1999-11-10', '1999-11-11',
               '1999-11-12', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [78]:
pd.date_range(end='1999-12-31', periods=40, freq='W-SUN')

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [79]:
pd.date_range(end='1999-12-31', periods=40, freq='W-FRI')

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [80]:
pd.date_range(end='1999-12-31', periods=40, freq='M')

DatetimeIndex(['1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31',
               '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30',
               '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

# The .dt Accessor

In [83]:
dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')

In [84]:
s = pd.Series(dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]